<!DOCTYPE html>
<html>
<head>
  <title>LaurenB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>


<%= yield %>


</body>
<footer><h2>Contact</h2>
<p>Lauren.barghout@gmail.com</p></footer>
</html>
